# macOS
.DS_Store

# CI/CD
# .codefresh

# Docker
# .dockerignore

# git
# .git
# .gitignore
# .pre-commit-config.yaml

# Python Compiled
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log
**/*.orig
**/.pycache

# Distribution / packaging
build/
dist/
sdist/
var/
tmp/
.eggs/
*.egg-info/
pip-wheel-metadata

# Unit test / coverage reports
.coverage/
.hypothesis/
.mypy_cache/
.pytest_cache/
coverage_html_report/

# Environments
.venv/
venv/
VENV/

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
tags
[._]*.un~

